.card-container {
  display: grid;
  grid-template-columns: 250px 100px 100px 100px 100px 100px 100px 250px;
  grid-gap: 0;
  background-color: #ffffff;
  max-height: 200px;
  padding: 10px 15px 5px 15px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.card-container,
.detail-header,
.paginator > * {
  color: #909095;
}
.leads,
.captured {
  line-height: 80px;
  font-size: 20px;
}

.detail-header {
  display: grid;
  grid-template-columns: 250px 400px 200px 250px;
  grid-gap: 0;
  background-color: #ffffff;
  max-height: 200px;
  padding: 10px 15px 5px 15px;
  text-align: center;
  width: 100%;
}

.card-container:active {
  outline: none;
  border: solid 1.5px #629fcb !important;
}
.paginator {
  display: grid;
  grid-template-columns: 650px 100px auto;
  grid-gap: 0;
  max-height: 200px;
  font-size: 13px;
  padding: 10px 15px 5px 15px;
  text-align: center;
  width: 100%;
}

.drag-handle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-top: 40px;
}

.prospects-container{
  
}