<h4 class="header">Offer Extended</h4>

<div class="card-container">
  <div style="display:flex">
    <div class="candidate-pic">
      <mat-icon
        class="candidate-icon"
        aria-hidden="false"
        aria-label="candidate"
        fontIcon="account_circle"
      ></mat-icon>
    </div>

    <div class="candidate-detail">
      <p class="name">Kunjan Kumar</p>
      <p class="position">Director, Housing and Development</p>
      <p class="location">New Delhi</p>
    </div>
  </div>
  <div class="seperator" cdkDrag>
    <mat-icon
      class="hire-icon"
      aria-hidden="false"
      aria-label="candidate"
      fontIcon="thumb_up"
    ></mat-icon>
    <span class="caption">Hire</span>
    <span class="caption">1 Jul 2018</span>
  </div>
  <div class="seperator" style="padding:20px">
    <span class="caption">Awaiting <br /></span>
    <span class="caption">Feedback <br /></span>
  </div>
  <div class="seperator">
    <mat-icon
      aria-hidden="false"
      aria-label="candidate"
      fontIcon="thumb_down"
    ></mat-icon>
    <span class="caption">No Hire</span>
    <span class="caption">1 Jul 2018</span>
  </div>

  <div style="    padding-top: 20px;">
    <mat-icon
      aria-hidden="false"
      aria-label="candidate"
      fontIcon="date_range"
    ></mat-icon>
    <span class="caption">1 Jul 2018</span>
  </div>
  <div class="leads seperator">7</div>

  <div class="captured">3</div>
  <div style="margin-top:20px">
    <p class="comments">No Comments</p>
    <!-- <mat-icon [matMenuTriggerFor]="menu" style="margin-right:20px;float:right"
      >more_vert</mat-icon
    >
    <mat-menu #menu="matMenu">
      <button mat-menu-item>EDIT COMMENT</button>
      <button mat-menu-item>HIDE CANDIDATE</button>
    </mat-menu> -->
  </div>
</div>
