<h4 class="header">Offer Extended</h4>

<div class="offers-container" *ngFor="let offer of offerList">
  <div style="display:flex">
    <div class="candidate-pic">
      <mat-icon
        class="candidate-icon"
        aria-hidden="false"
        aria-label="candidate"
        >{{ offer.candidateDetails.profilePic }}</mat-icon
      >
    </div>

    <div class="candidate-detail">
      <p class="name">
        {{ offer.candidateDetails.firstName }}
        {{ offer.candidateDetails.lastName }}
      </p>
      <p class="position">
        {{ offer.candidateDetails.position }},
        {{ offer.candidateDetails.organization }}
      </p>
      <p class="location">{{ offer.candidateDetails.address }}</p>
    </div>
  </div>
  <div class="seperator" style="padding: 20px 0 0 0;">
    <span class="caption">Offer Extended On</span>
    <span class="caption date">{{ offer.offerExtendedOn }}</span>
  </div>
  <div class="seperator" style="padding: 20px 0 0 0;">
    <span class="caption">Offer Accepted On</span>
    <span class="caption date">{{ offer.offerAcceptedOn }}</span>
  </div>

  <div class="seperator" style="padding: 20px 0 0 0;">
    <span class="caption">Date Of Joining</span>
    <span class="caption date">{{ offer.DateOfJoining }}</span>
  </div>

  <div class="seperator" style="padding: 20px 0 0 0;">
    <span class="caption">Joining Status</span>
    <span class="caption">
      <mat-icon [matMenuTriggerFor]="menu">{{
        selectedJoiningStatus
      }}</mat-icon>
      <mat-menu #menu="matMenu" yPosition="below">
        <button mat-menu-item (click)="setActiveItem('joining')">
          <mat-icon
            [ngStyle]="{
              color: activeItem === 'joining' ? 'blue' : 'green'
            }"
            >thumb_up</mat-icon
          >
        </button>
        <button mat-menu-item (click)="setActiveItem('declined')">
          <mat-icon
            [ngStyle]="{
              color: activeItem === 'declined' ? 'blue' : 'red'
            }"
            >thumb_down</mat-icon
          >
        </button>
        <button mat-menu-item (click)="setActiveItem('rejected')">
          <mat-icon
            [ngStyle]="{
              color: activeItem === 'rejected' ? 'blue' : 'orange'
            }"
            >do_not_disturb_on</mat-icon
          >
        </button>
      </mat-menu></span
    >
  </div>

  <div class="seperator" style="padding: 20px 0 0 0;">
    <span class="caption" title="Background Verification">B.V.</span>
    <span class="caption"> <mat-icon [matMenuTriggerFor]="Bvmenu">{{
    selectedJoiningStatus
  }}</mat-icon>
  <mat-menu #Bvmenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="setActiveItem('joining')">
      <mat-icon
        [ngStyle]="{
          color: activeItem === 'joining' ? 'blue' : 'green'
        }"
        >thumb_up</mat-icon
      >
    </button>
    <button mat-menu-item (click)="setActiveItem('declined')">
      <mat-icon
        [ngStyle]="{
          color: activeItem === 'declined' ? 'blue' : 'red'
        }"
        >thumb_down</mat-icon
      >
    </button>
    <button mat-menu-item (click)="setActiveItem('rejected')">
      <mat-icon
        [ngStyle]="{
          color: activeItem === 'rejected' ? 'blue' : 'orange'
        }"
        >do_not_disturb_on</mat-icon
      >
    </button>
  </mat-menu></span>
  </div>
  <div>
    <div class="comments">
      <div *ngIf="offer.comments; else noComments">
        <span>{{ offer.comments }}</span>
      </div>
      <ng-template #noComments>
        <span style="line-height: 80px;">No Comments</span>
      </ng-template>
    </div>

    <div style="line-height:80px; float:right">
      <mat-icon [matMenuTriggerFor]="Commentmenu">more_vert</mat-icon>
    </div>
    <mat-menu #Commentmenu="matMenu">
      <button mat-menu-item>EDIT COMMENT</button>
      <button mat-menu-item>HIDE CANDIDATE</button>
    </mat-menu>
  </div>
</div>
